<div class="row-fluid">
	<div class="span8">
		<div id="new-job-post" class="form">
			<p class="ft22">Basic Info</p>
			<div class="field">
			<%= f.label :title, t("job.title") %>
			<%= f.text_field :title, :class => "text", required: true %>
			</div>
			
			<div class="field">
			<%= f.label :location, t("job.location") %>
			<%= f.text_field :location, :class => "text", required: true %>
			</div>

			<div class="field">
			<%= f.label :tech_skills, 'Technology Keys' %>
		  <%= select_tag :tech_skills, options_for_select(Job::TAGS.map.with_index { |m, i| [m, i] }) %>
		  <%= f.hidden_field :tags %>
		  	<div class="blog-item">
					<span class="pull-left">Examples: </span>		  		
         	<ul class="inline blog-tags pull-left">
          	<li><a href="#">Java</a></li>
          	<li><a href="#">C++</a></li>
          	<li><a href="#">Titanium</a></li>
          	<li><a href="#">C#</a></li>
          </ul>
        </div>
			</div>

			<div class="field">
			<%= f.label :job_type, t("job.type") %>
		  <%= f.select :job_type, options_for_select(Job::JOB_TYPE.map.with_index { |m, i| [m, i] }) %>
			</div>

			<hr>
			<p class="ft22">About your company</p>

			<div class="field">
			<%= f.label :company_name, t("job.company_name") %>
			<%= f.text_field :company_name, :class => "text", required: true %>
			</div>

			<div class="field">	
			<%= f.label :logo, "Logo" %>
	    <div class="input-append">
		    <input class="span7" id="logo" type="text" placeholder="No file selected">
		    <button class="btn" type="button" onclick="$('#job_company_logo').click();">Choose File</button>
	    </div>
			<%= f.file_field :company_logo, :class => "text hide", :placeholder => "No file selected"%>
			</div>

			<div class="field">
			<%= f.label :url, "URL" %>
			<%= f.text_field :url, :class => "text", required: true %>
			</div>

			<hr>
			<p class="ft22">About your job</p>		
			<div class="row-fluid">
				<h5>Description</h5>
				<%= f.hidden_field :description, :class => "text" %>
				<div class="widget-box">
					<div class="widget-header widget-header-small">
						
					</div>

					<div class="widget-body">
						<div class="widget-main no-padding">
							<div class="wysiwyg-editor span11" id="input-description-div"></div>
						</div>
					</div>
				</div>
			</div>
			<br>
			<div class="row-fluid">
				<h5>How do people apply for this job</h5>
				<p class="gray">
					Example: Send resume to Jon@company.com or Apply at http://company.com/jobs
				</p>
				<%= f.text_area :apply_information, :class => "text", required: true %>
			</div>
		</div> <!-- #new-job-post div end -->
	</div><!-- span8 end -->
	<div class="span3 post-job-guide pull-right">
		<p>You'll target the cream of the crop.</p>
		<p>Where you post your job has a lot to do with the kind of people you'll attract. Our Job Board attracts the best because it's featured on industry-leading sites such as Signal vs. Noise, A List Apart, Zeldman.com, Kottke.org, Coudal.com, and the Ruby on Rails site. People who visit these sites value beautiful design, clean code, and high standards.</p>
		<p>One of a few, not one of many.</p>
		<p>You won't have to worry about being a needle in a haystack. We charge more than other job boards to keep supply in check. There are usually less than 200 jobs on our Job Board at any one time. That means your job listing won't get lost in the shuffle like it does at other job sites. Candidates will find you.</p>
		<p>Trusted by industry leaders.</p>
		<p>Industry leaders like The New York Times, CNET, Adobe, American Express, NBC, Trek, Skype, Yelp, and Facebook all use the 37signals Job Board to find the best of the best. Many of these brands come back again and again to find new candidates as their hiring needs expand.</p>
	</div>
</div><!-- row-fluid end -->

<div class="row-fluid">
	<hr>
	<br>
	<h3>Get more Applicants</h3>
	<div class="span7">
		<br><br><br>
		<h4>Have Your Listing Highlighted. Be a Featured Listing For 3 Days</h4>
		<br>
		<label>
			<%= f.check_box :highlighted %>
			<strong>1 - Yes, Highlight my ad</strong> for only $50.
		</label>
		<label>
			<%= f.check_box :highlighted %>
			<strong>2 - Tweet your listing $25</strong>
		</label>
		<label>
			<%= f.check_box :highlighted %>
			I will create text later.  Note highlighting your listing will last for the full 30 days the listing is live.
		</label>
		
	</div><!-- Highlight guide -->
	<div class="span4">
		<img src="/assets/highlight-guide.jpg" />
	</div><!-- Hightlight Image Image Area -->
</div>
<div class="row-fluid">
	<br><br>
	<div style="clear: both;">
		<a class="btn-u btn-lightblue btn-medium" onclick="$('.btn-next').click();">
			Continue to Step 2 to previe your ad
		</a>
	</div>
</div>