<%= form_for @job do |f| %>
<div class="widget-body">
	<div class="widget-main">
		<div class="row-fluid">
			<div id="fuelux-wizard" class="span5 hide row-fluid" data-target="#step-container">
				<ul class="wizard-steps">
					<li data-target="#step1" class="active">
						<span class="step">1</span>
						<span class="title">Create</span>
					</li>

					<li data-target="#step2">
						<span class="step">2</span>
						<span class="title">Preview</span>
					</li>

					<li data-target="#step3">
						<span class="step">3</span>
						<span class="title">Publish</span>
					</li>
				</ul>
			</div>
			<br><br><br><br><br>

			<div class="wizard-actions">
				<a id="next-step-btn" class="btn-u btn-lightblue btn-next btn-medium">
					Continue to Step 2 to preview your ad
				</a>
				<a class="btn-prev btn-small hide">
					 >> Make changes
				</a>
			</div>
			<div class="step-content" id="step-container">
				<div class="step-pane active" id="step1">
					<%#= render "form", :locals => { f: f } %>
					<div class="row-fluid">
	<div class="span8">
		<div id="new-job-post" class="form">
			<% if @job.errors.any? %>
			<div id="error_explanation">
				<h3><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h3>
				<ul>
					<% @job.errors.full_messages.each do |msg| %>
		  		<li><%= msg %></li>
					<% end %>
				</ul>
			</div>
			<% end %>
			<h3>Step1: Create your Job</h3>
			<hr>

			<div class="field">
			<%= f.label :title, t("job.title") %>
			<%= f.text_field :title, :class => "text" %>
			</div>
			
			<div class="field">
			<%= f.label :location, t("job.location") %>
			<%= f.text_field :location, :class => "text" %>
			</div>

			<div class="field">
			<%= f.label :tags, t("job.tags") %>
			<% i = 0 %>
		  <%= f.select :tags, options_for_select(Job::TAGS.map { |m| [m, i=i+1] }) %>
			</div>

			<div class="field">
			<%= f.label :job_type, t("job.type") %>
			<% i = 0 %>
		  <%= f.select :job_type, options_for_select(Job::JOB_TYPE.map { |m| [m, i=i+1] }) %>
			</div>

			<hr>
			<h3>About your company</h3>

			<div class="field">
			<%= f.label :company_name, t("job.company_name") %>
			<%= f.text_field :company_name, :class => "text" %>
			</div>

			<div class="field">	
			<%= f.label :company_logo, t("job.company_logo") %>
			<%= f.file_field :company_logo, :class => "text" %>
			</div>

			<div class="field">
			<%= f.label :url, "Company URL" %>
			<%= f.text_field :url, :class => "text" %>
			</div>

			<hr>
			<h3>About your job</h3>		
			<div class="field">
			<%= f.label :description, t("job.description") %>
			<%= f.text_area :description, :class => "text" %>
			</div>
			
			<div class="field">
			<%= f.label :apply_information, t("job.apply_information") %>
			<%= f.text_area :apply_information, :class => "text" %>
			</div>
		</div> <!-- #new-job-post div end -->
	</div><!-- span8 end -->
	<div class="span3 post-job-guide pull-right">
		<p>You'll target the cream of the crop.</p>
		<p>Where you post your job has a lot to do with the kind of people you'll attract. Our Job Board attracts the best because it's featured on industry-leading sites such as Signal vs. Noise, A List Apart, Zeldman.com, Kottke.org, Coudal.com, and the Ruby on Rails site. People who visit these sites value beautiful design, clean code, and high standards.</p>
		<p>One of a few, not one of many.</p>
		<p>You won't have to worry about being a needle in a haystack. We charge more than other job boards to keep supply in check. There are usually less than 200 jobs on our Job Board at any one time. That means your job listing won't get lost in the shuffle like it does at other job sites. Candidates will find you.</p>
		<p>Trusted by industry leaders.</p>
		<p>Industry leaders like The New York Times, CNET, Adobe, American Express, NBC, Trek, Skype, Yelp, and Facebook all use the 37signals Job Board to find the best of the best. Many of these brands come back again and again to find new candidates as their hiring needs expand.</p>
	</div>
</div><!-- row-fluid end -->

<div class="row-fluid">
	<hr>
	<br>
	<h3>Get more Applicants</h3>
	<div class="span7">
		<br><br><br>
		<h4>Have Your Listing Highlighted. Be a Featured Listing For 3 Days</h4>
		<br>
		<label>
			<%= f.check_box :highlighted %>
			<strong>Yes, Highlight my ad</strong> for only $25.
		</label>
	</div><!-- Highlight guide -->
	<div class="span4">
		<img src="/assets/highlight-guide.jpg" />
	</div><!-- Hightlight Image Image Area -->
	<div>
		<a class="btn-u btn-lightblue btn-medium" onclick="$('.btn-next').click();">
			Continue to Step 2 to previe your ad
		</a>
	</div>
</div>

<%= content_for :scripts do %>

<script type="text/javascript" charset="utf-8">
	$(function() {
		$("#job_tags").attr('multiple', '');
		$("#job_tags").addClass('chzn-select span11');
		$("#job_job_type").attr('multiple', '');
		$("#job_job_type").addClass('chzn-select span11');
	  $(".chzn-select").chosen(); 
	});
	$('#validation-form').validate({
		errorElement: 'span',
		errorClass: 'help-inline',
		focusInvalid: false,
		rules: {
			'job[title]': {
				required: true,
				phone: 'required'
			},
			job_location: {
				required: true,
				url: true
			},
			job_company_name: {
				required: true
			},
			job_description: {
				required: true
			}
		},

		messages: {
			email: {
				required: "Please provide a valid email.",
				email: "Please provide a valid email."
			},
			password: {
				required: "Please specify a password.",
				minlength: "Please specify a secure password."
			},
			subscription: "Please choose at least one option",
			gender: "Please choose gender",
			agree: "Please accept our policy"
		},

		invalidHandler: function (event, validator) { //display error alert on form submit   
			$('.alert-error', $('.login-form')).show();
		},

		highlight: function (e) {
			$(e).closest('.control-group').removeClass('info').addClass('error');
		},

		success: function (e) {
			$(e).closest('.control-group').removeClass('error').addClass('info');
			$(e).remove();
		},

		errorPlacement: function (error, element) {
			if(element.is(':checkbox') || element.is(':radio')) {
				var controls = element.closest('.controls');
				if(controls.find(':checkbox,:radio').length > 1) controls.append(error);
				else error.insertAfter(element.nextAll('.lbl:eq(0)').eq(0));
			}
			else if(element.is('.select2')) {
				error.insertAfter(element.siblings('[class*="select2-container"]:eq(0)'));
			}
			else if(element.is('.chzn-select')) {
				error.insertAfter(element.siblings('[class*="chzn-container"]:eq(0)'));
			}
			else error.insertAfter(element);
		},

		submitHandler: function (form) {
		},
		invalidHandler: function (form) {
		}
	});
</script>
<% end %>
				</div>

				<div class="step-pane" id="step2">
					<%= render "preview" %>
				</div>

				<div class="step-pane" id="step3">
					<%#= render "publish", :locals => { f: f } %>
					<div class="row-fluid">
	<div class="span8">
		<div id="new-job-payment" class="form">
			<h3>Step3: Publish your Ad</h3>
			<hr>

			<div class="field">
			<%= f.label :card_number, 'Card Number' %>
			<%= f.text_field :card_number, :class => "text" %>
			<img src="/assets/payment_method.jpg">
			<%= f.hidden_field :payment_method %>
			</div>
			
			<div class="field">
			<%= label_tag :expiration, 'Expiration' %>
			<%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"}%>
      <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+10}, {name: nil, id: "card_year"}%>
			</div>

			<div class="field">
			<%= f.label :zipcode, "Zip/Postal Code" %>
			<%= f.text_field :zipcode, :class => "text" %>
			</div>

			<div class="field">
			<%= f.label :ccvn, "CCVN#" %>
			<%= f.text_field :ccvn, :class => "text" %>
		  </div>
		</div> <!-- #new-job-payment div end -->
	</div><!-- span8 end -->
</div><!-- row-fluid end -->

<div class="row-fluid">
	<div class="span11 alert apply-info">
		<h4 style="color:#000">Your ad is $ 400 and it will run for 30 days starting right now</h4>
		<br>
		<p>You are only permitted to post one job opening per ad (you cannot say “We have 4 open positions...”). This charge is non refundable. Apptopia.com reserves the right to deny or remove job posts at our discretion (we will refund your money if we don’t run your ad). If you have questions please send a message to support : https://apptopia.com/billing</p>
		<br>
		<button type="submit" class="btn-u btn-lightblue btn-medium">
			Please Order And Publish your Ad
		</button>
		 or 
		<a onclick="$('.btn-prev').click()" class="btn-small">
			&gt;&gt; Make Changes
		</a>
		<br>
	</div><!-- Highlight guide -->
				</div>
			</div>
		</div>
	</div><!--/widget-main-->
</div><!--/widget-body-->
<% end %>

<script type="text/javascript">
$(function() {
	$('[data-rel=tooltip]').tooltip();

	$('#fuelux-wizard').ace_wizard().on('change' , function(e, info){
	
		if (info.direction =="next")
		{
			if (info.step == 1)
			{
				$("a.btn-next").html("Continue to Step 3 to publish your ad");
				$("a.btn-prev").removeClass("hide");

				$('#title')				.html($('#job_title').val());
				$('#company_name').html($('#job_company_name').val());
				$('#location')		.html($('#job_location').val());
				$('#url')					.html($('#job_url').val());
				$('#description')	.html($('#job_description').val());
				$('#apply_information')	.html($('#job_apply_information').val());
				
				var all_tags = new Array();
				<% Job::TAGS.each do |j| %>
					all_tags.push("<%= j %>");
				<% end %>

				var tags = $('#job_tags').val();
				var tag_captions = "";
				for (var i = 0; i < tags.length; i++)
				{
					var tag_captions = tag_captions + "<li><a>"+all_tags[parseInt(tags[i])-1]+"</a></li>";
				}
				$('#tags')	.html(tag_captions);
			}
			if (info.step == 2)
			{
				$("a.btn-next").html("Place Order and Publish your Ad");
				$("a.btn-prev").removeClass("hide");
			}
		}
		else if (info.direction == "previous")
		{
			if (info.step == 3)
				$("a.btn-next").html("Continue to Step 3 to publish your ad");
			else if (info.step == 2)
			{
				$("a.btn-next").html("Continue to Step 2 to preview your ad");
				$("a.btn-prev").addClass("hide");
			}
		}
	}).on('finished', function(e) {
		
	}).on('stepclick', function(e, info){
		console.log(info);
		if (info.step == 1)
		{
			$("a.btn-next").html("Continue to Step 2 to preview your Ad");
			$("a.btn-prev").addClass("hide");
		}
		else if (info.step == 2)
		{
			$("a.btn-next").html("Continue to Step 3 to publish your Ad");
			$("a.btn-prev").removeClass("hide");			
		}
	});
});
</script>