<% content_for :head do %>
	<%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
<% end %>

<%= simple_form_for @job, html: { multipart: true, :class => "form-horizontal"} do |f| %>
<div class="widget-body">
	<div class="widget-main">
		<div class="row-fluid">
			<h3 id="step-title">Step1: Create your Job</h3>
			<br>
			<div id="fuelux-wizard" class="span5 hide row-fluid" data-target="#step-container">
				<ul class="wizard-steps">
					<li data-target="#step1" class="active">
						<span class="step">1</span>
						<span class="title">Create</span>
					</li>

					<li data-target="#step2">
						<span class="step">2</span>
						<span class="title">Preview</span>
					</li>

					<li data-target="#step3">
						<span class="step">3</span>
						<span class="title">Publish</span>
					</li>
				</ul>
			</div>
			<br><br><br>
			<hr>
			<div class="row-fluid wizard-actions hide">
				<a id="next-step-btn" class="btn-u btn-lightblue btn-next btn-medium">
					Continue to Step 3 to publish your ad
				</a>
				<a class="btn-prev btn-small hide gray">
					 <img src="/assets/back-arrow.png"/>
					 Make changes
				</a>
			</div>
			<div class="step-content" id="step-container">
				<div class="step-pane active" id="step1">
					<%= render partial: "form", locals: {f: f} %>
				</div>

				<div class="step-pane" id="step2">
					<%= render "preview" %>
				</div>

				<div class="step-pane" id="step3">
					<%= render partial: "publish", :locals => { f: f } %>
				</div>
			</div>
		</div>
	</div><!--/widget-main-->
</div><!--/widget-body-->
<% end %>