<div class="job-content">
	<div class="row-fluid">
		<div class="span9">
			<h2 id="title"></h2>
			<p class="hour pull-left light-gray"></p>
			<br>
			<h5>
		  	<strong id="company_name"></strong> - 
		  	<normal id="location"></normal>
		  </h5>
		  <p id="url"></p>
		  <div class="pull-left blog-page blog-item">
		   	<ul id="tags" class="unstyled inline blog-tags pull-left">
		    </ul>
		  </div>
		  
		  <br><br><br>
		  <p id="description">
		  </p>

		  <div class="alert apply-info">
		  	<h5>Apply for this position</h5>
		  	<p id="apply_information"></p>
		  </div>
		  <br>
		  <br>
		  <div>
			  <a class="btn-u btn-lightblue btn-medium" onclick="$('.btn-next').click();">
					Continue to Step 3 to publish your ad
				</a>
				&nbsp;or 
				<a onclick="$('#step2.btn-prev').click();" class="gray">
					<img src="/assets/back-arrow.png"/>
					Make Changes
				</a>
			</div>
		</div>
    <div class="social">
    </div>
	</div>
</div>

<!-- 			<% if @job.owned_by?(current_user) %>
			 	<%= t("job.deadline") %>: <%= @job.deadline || t("job.deadline_forever") %>
			 	<span class="manage">
			 	<%= link_to t(:edit), edit_job_path(@job), :class => "edit" %>	
			 	<% if @job.closed? %>
			 		<%= link_to t(:open), open_job_path(@job), :confirm => t(:are_you_sure), :method => :put, :class => "open" %>
			 	<% else %>
			 		<%= link_to t(:close), close_job_path(@job), :confirm => t(:are_you_sure), :method => :put, :class => "close" %>
			 	<% end %>	
			 	<%= link_to t(:delete), job_path(@job), :confirm => t(:are_you_sure), :method => :delete, :class => "delete" %>
			 	</span>	
			<% elsif @job.deadline %>
			 	<%= t("job.deadline") %>: <%= @job.deadline %>
			<% end %> -->