<% content_for :head do %>
	<%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
<% end %>
<div>
	<div class="widget-body">
		<div class="widget-main">
			<div class="row-fluid">
				<div id="fuelux-wizard" style="width: 50%; margin-left: -30px;" class="row-fluid" data-target="#step-container">
					<ul class="wizard-steps">
						<li onclick="location.href='<%= edit_job_path(@job) %>'" class="complete">
							<span class="step">1</span>
							<span class="title">Create</span>
						</li>

						<li onclick="location.href='<%= preview_job_path(@job) %>'" class="complete">
							<span class="step">2</span>
							<span class="title">Preview</span>
						</li>

						<li data-target="#step3" class="active">
							<span class="step">3</span>
							<span class="title">Publish</span>
						</li>
					</ul>
				</div>
				<br>
				<h3 id="step-title">Step 3: Publish Your Posting</h3>
				<hr>
				<div class="step-content" id="step-container">
					<div class="step-pane active">
						<!-- Preview Content -->
						<div class="left-main-div">
							<form action="<%= payment_job_path(@job) %>" id="payment_form" method="post">
							<div class="row-fluid">
								<div class="span11">
									<div id="new-job-payment" class="form">
										<p class="ft22">Enter your billing information</p>
										<div class="alert alert-error" style="display:none" id="stripe_error"></div>
										<%= hidden_field_tag :stripe_token %>
										<div class="field">
											<%= label_tag :card_number, 'Card Number' %>
											<%= text_field_tag :card_number %>
											<img src="/assets/payment_method.jpg">
										</div>

										<div class="field">
											<%= label_tag :expiration, 'Expiration' %>
											<%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"}%>
								      <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+10}, {name: nil, id: "card_year"}%>
										</div>

										<div class="field">
											<%= label_tag :zipcode, "Zip/Postal Code" %>
											<%= text_field_tag :zipcode %>
										</div>

										<div class="field">
											<label for="ccvn">CCV</label>
											<%= text_field_tag :ccvn %>
									  </div>
									</div> <!-- #new-job-payment div end -->
								</div><!-- span11 end -->
							</div><!-- row-fluid end -->
						</div>
						<div class="row-fluid">
							<h4 style="margin-left: 10px; color:#000">
								Total price: $<%= @job.total_price %>
							</h4>
							<hr>
							<div class="span11 alert apply-info">
								<p>You are only permitted to post one job opening per ad (you cannot say “We have 4 open positions...”). This charge is non refundable. Apptopia.com reserves the right to deny or remove job posts at our discretion (we will refund your money if we don’t run your ad). If you have questions please send a message to Support@apptopia.com</p>
							</div><!-- Highlight guide -->
						</div>
						<div class="row-fluid" style="padding: 3px">
							<button type="submit" id="payment_submit" class="btn-u btn-lightblue btn-medium">
								Submit Payment & Publish Your Job
							</button>
							 or
							<a onclick="history.back();" class="gray">
								<img src="/assets/back-arrow.png"/>
								Make Changes
							</a>
							<br>
						</div>
					</div>
			</div>
		</div><!--/widget-main-->
	</div><!--/widget-body-->
</div>