<%#= render_shareable :buttons => ['twitter', 'facebook', 'linkedin'] %>
<div class="row-fluid">
	<div class="span9">
		<div class="row-fluid">
			<div class="span8">
				<h2><%= @job.title %></h2>
				<p class="hour light-gray"> <%= @job.elapsed %> ago</p>
				<h4>
			  	<strong><%= @job.company_name %></strong> - 
			  	<normal><%= @job.location %></normal>
			  </h4>

			  <p><%= link_to @job.url, @job.url %></p>
			  <div class="pull-left blog-page blog-item">
			   	<ul class="unstyled inline blog-tags pull-left">
			    	<%= show_tags(@job) %>
			    </ul>
			  </div>
			</div>
			<div class="span4">
				<%= image_tag @job.company_logo.url(:medium), :style => "margin-top:65px;" %>
			</div>
		</div>
	  <br><br><br>
	  <p>
	  	<%= @job.description.gsub("\n", "<br>").html_safe unless @job.description == "" %>
	  </p>

	  <div class="alert apply-info">
	  	<h5>Apply for this position</h5>
	  	<p>
	  		<%= @job.apply_information.gsub("\n", "<br>").html_safe unless @job.apply_information == "" %>
	  	</p>
	  </div>
	</div>
	<div class="span3 share-with-social">
		<%= render_shareable buttons: ['facebook', 'twitter', 'linkedin'], :url=> request.original_url, :facebook=> {:url=> 'http://demo.com'} %>
		<p><img src="/assets/social/facebook.png"><a>Share this job on facebook</a></p>
		<p><img src="/assets/social/twitter.png"><a>Tweet this</a></p>
		<p><img src="/assets/social/linkedin.png"><a>Share this job on linkedin</a></p>
		<p><img src="/assets/social/message.png">
			<%= link_to "Tell a friend", "mailto:?body=Job hiring&subject=You" %>
		</p>
	</div>
</div>