<%= form_tag jobs_path, :id => "search-form", :class => "navbar-search", :method => :get do %>
	<%= text_field_tag :keyword, "", :placeholder => 'Search: ‘Boston’, ‘Unity’, ‘Android’…' %>
	<div id="search-jobtype">
		<label>
			<%= check_box_tag :type1 %>
			Full-time
		</label>
		
		<label>
			<%= check_box_tag :type2 %>
			Part-time
		</label>
		<label>
			<%= check_box_tag :type3 %>
			App Project
		</label>
		<br>
	</div>
	<a class=""><img src="/assets/rss-job-feed.png"></a>

<% end %>